<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>观察者模式</title>
</head>

<body>
  <button id="btn">按钮</button>
  <script>
    var btn = document.querySelector("#btn");
    var event = new Event('myEvent');
    btn.addEventListener('myEvent', function (e) {
      console.log(e, '你好');
    }, false);
    btn.dispatchEvent(event);
  </script>
</body>

</html>